*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/firestore/node_modules
/functions/node_modules
/functions/lib
/backend/node_modules
**/firebase-adminsdk*.json
**/serviceAccount*.json
firebase-debug.log